<div class="topInfo" >
	<h1>IBIS</h1>
	<div class="fbCount"></div>
</div>

<div class="middleInfo" >
  <div class="columns">
  	<ul class="logos">
  		<li class="bestPrice"></li>
  	</ul>
    <ul>
      <li><h3>À PROPOS DES HÔTELS ibis</h3></li>
      <li><a href="#">Toutes nos destinations</a></li>
			<li><a href="#">Nous contacter</a></li>
			<li><a href="#">ibisrestaurant.com</a></li>
    </ul>
		<ul>
			<li><h3>OFFRES SPÉCIALES DES HÔTELS ibis</h3></li>
      <li><a href="#">Newsletter ibis</a></li>
      <li><a href="#">Forfaits hôtels et activités</a></li>
      <li><a href="#">Offres week-end</a></li>
      <li><a href="#">Happy 20</a></li>
      <li><a href="#">Offres partenaires</a></li>
      <li><a href="#">Offre pour les sportifs</a></li>
		</ul>
		<ul>
			<li><h3>PROFESSIONNELS</h3></li>
			<li><a href="#">Espace presse</a></li>
			<li><a href="#">Professionnels du voyage</a></li>
			<li><a href="#">Séminaires et réunions</a></li>
		</ul>
		<ul>
			<li><h3>DÉVELOPPEMENT</h3></li>
			<li><a href="#">Affiliés</a></li>
			<li><a href="#">Management & Franchise</a></li>
		</ul>
  </div>
  <div class="line">
  	<ul>
  		<li><a href="#">Consultez / Annulez une réservation</a></li>
  		<li><a href="#">FAQ</a></li>
  		<li><a href="#">Plan du site</a></li>
  		<li><a href="#">Mentions légales</a></li>
  		<li><a href="#">Données personnelles</a></li>
  		<li><a href="#">Emploi</a></li>
  		<li><a href="#">Groupe Accor</a></li>
  	</ul>
  </div>
</div>

<div class="botInfo" >
	<p>Reserver un hotel ibis, c'est la garantie d’un sejour tout confort dans une chaine d’hotels internationale : plus de 900 hotels vous accueillent partout dans le monde. Offrez-vous tous les services d'un hotel moderne à un prix economique pour vos voyages d’affaires, vos week-ends pas chers ou longs week-ends à Paris, Londres, Amsterdam ou Sao Paulo.</p>
	<h3>Nos destinations</h3>
	<p>Hôtel Paris   -   Hôtel Roissy aéroport Paris   -   Hôtel Lyon   -   Hôtel Londres   -   Hôtel Marseille   -   Hôtel Strasbourg   -   Hôtel Toulouse   -   Hôtel Bordeaux   -   Hôtel Bruxelles   -   Hôtel Nice   -   Hôtel Lille      Hôtel Casablanca   -   Hôtel Berlin   -   Hôtel Prague   -   Hôtel Budapest   -   Tous les hôtels ibis</p>
</div>