<form>
	<span data-icon="s"></span>
	<h3>Rechercher et réserver</h3>
	<fieldset class="simpleSearch">

		<label for="destination">Destination</label>
		<input id="destination" type="text" placeholder="Ville / Pays / Code Hôtel" value="" name="destination" />
		<span data-icon="H"></span>

		<label for="arrival">Arrivée</label>
		<input id="arrival" type="text" value="" name="arrival" />
		<span data-icon="c"></span>

		<label for="departure">Départ</label>
		<input id="departure" type="text" value="" name="departure" />
		<span data-icon="c"></span>

	</fieldset>
</form>