<ul class="splitMedia">
	<li>
		<a href="#">
			<img src="/images/content/carrouselLarge/offreIbisVideo.jpg" alt="lite la vidéo" />
		</a>
	</li>
</ul>
<ul class="meaBlocks">
	<li>
		<div class="meaContainer">
			<div class="meaHeader">
				<h3>TOP PROMOTIONS</h3>
				<a href="#">Voir toutes nos promotions</a><span data-icon="$"></span>
			</div>
			<div class="meaContent">
				<ul class="slimCarrouselPanel">
					<li class="firstPan current">
						<div class="leftSide">
						  <img src="/images/content/carrouselSlim/photoLisb.jpg" />
						</div>
						<div class="rightSide">
						  <a href="#"><img src="/images/content/carrouselSlim/leftSide.jpg" /></a>
						</div>
					</li>
					<li class="secondPan">
						<div class="leftSide">
						  <img src="/images/content/carrouselSlim/photoLisb.jpg" />
						</div>
						<div class="rightSide">
						  <a href="#"><img src="/images/content/carrouselSlim/leftSide.jpg" /></a>
						</div>
					</li>
					<li class="thirdPan">
						<div class="leftSide">
						  <img src="/images/content/carrouselSlim/photoLisb.jpg" />
						</div>
						<div class="rightSide">
						  <a href="#"><img src="/images/content/carrouselSlim/leftSide.jpg" /></a>
						</div>
					</li>
				</ul>
				<ul class="slimCarrouselButton">
					<li class="firstBut current" data-icon="#"></li>
					<li class="secondBut " data-icon="#"></li>
					<li class="thirdBut " data-icon="#"></li>
				</ul>
			</div>	
		</div>
	</li>
	<li>
		<div class="meaContainer">
			<div class="meaHeader">
				<h3>DECOUVREZ LES SERVICES SERVICES ibis</h3>
				<a href="#">Voir tous nos engagements</a><span data-icon='l'></span>
			</div>
			<div class="meaContent">
				<div class="leftSide">
				  <img src="/images/content/meaBlocks/ibisPhone.jpg" />
				</div>
				<div class="rightSide">
					<p>ibis vous simplifie la vie ! Tout ibis depuis votre mobile</p>
					<a href="#">Créer votre compte</a>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div class="meaContainer">
			<div class="meaHeader">
				<h3>VOTRE FIDÉLITÉ RÉCOMPENSÉE</h3>
			</div>
			<div class="meaContent">
				<div class="leftSide">
				  <img src="/images/content/meaBlocks/ibisCard.jpg" />
				</div>
				<div class="rightSide">
					<p>Avantages, réductions, services exclusifs, ... nous récompensons votre fidélité !</p>
					<a href="#">En savoir plus</a>
				</div>
			</div>
		</div>
	</li>
</ul>