// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'
@import 'fonts'
@import 'imagesvar'

#site

  #header
    margin 0 0 20px
    float left
    width 100%

    .profile
      ul
        list-style none
        margin 0
        padding 0
        fontStyle(museoN, 14px, #666, 40px) 

        &:first-child
          float left

        &:last-child
          float right

        &.login [data-icon]:before
          font-size 15px
          vertical-align text-bottom
        
        li 
          float left
          margin 0 0 0 20px
          cursor pointer

    .welcome
      width 100%
      float left
      background-color #595149
      border-radius 5px
      padding 0 20px

      h1
        float left
        margin 0
        fontStyle(museoS, 24px, #fff, 65px)

      .main-nav
        list-style none
        float left
        margin 20px 0 0 0

        li 
          float left
          width 114px
          height 24px
          cursor pointer
          margin 0 30px 0 0
          text-indent -9999px
          background url(ibisButtons) 0 -77px no-repeat

          &:first-child
            background-position 0 0
            margin 0 30px 0 85px

          &:last-child
            background-position 0 -152px

      .bookings
        float right
        border none
        height 31px
        margin 16px 0 0
        background linear-gradient(top, #817b74, #706a62)
        box-shadow 0 2px 1px #333 inset
        fontStyle(arialN, 13px, #fff, 31px, 0 1px 1px #000)

    .search
      margin 0
      width 100%
      float left
      background #fff
      position relative
      border-radius 5px

      h3
        float left
        margin 0 0 0 20px
        fontStyle(museoN, 20px, #595149, 65px)

        [data-icon]:before
          font-size 18px
          margin 0 16px 0 0

      .simpleSearch
        border none
        float right
        margin 0 20px 0 0
        padding 0

        label
          fontStyle(museoN, 12px, #9C948B, 65px)

        input
          height 31px
          width 70px
          fontStyle(arialN, 12px, #717375)

        [data-icon]:before
          color #9C948B
          font-size 20px
          margin 0 15px 0 5px
          vertical-align middle

        #destination
          width 143px

      .searchPan
        position absolute
        background #fff
        padding 20px 0
        display none
        width 100%
        top 62px

        &.active
          display block

        .leftSide
          float left
          width 615px
          margin 0 0 0 20px
          padding 0 30px 0 0
          border-right 1px solid #ccc

        fieldset
          padding 0
          border none
          width 100%
          margin 10px 0 30px 0
          fontStyle(arialN, 13px, #717375)

          &.rooms
            label
              font-weight bold
              margin 0 5px 0 0 

            select
              margin 0 15px 0 0

          &.promoCard
            label
              margin 0 5px 0 0

          &.roomOptions
            .servicesSelectFilters
              max-width 500px
              padding 0
              margin 0

              li
                float left
                width 150px
                list-style none
                margin 5px 0 5px 0

        .butForm
          float left
          width 100%
          padding 20px 0
          border-bottom 1px solid #ccc

          button
            border none
            fontStyle(arialN, 13px)

            &.lessOptions
              color #f91b00
              background none
              line-height 35px
              margin 0 10px 0 0

              [data-icon]:before
                color #f91b00

            &.searchPanSubmit
              color #fff
              line-height 35px
              border-radius 5px
              background #F91B00
              float right
              padding 0 10px 0 0

              span
                float left
                height 100%
                margin 0 10px 0 0
                border-right 1px solid #e94733

              [data-icon]:before
                color #fff
                margin 0 10px
                font-size 15px

        .butAdvancedSearch
          float left
          width 100%
          padding 20px 0 0 0

          button
            fontStyle(arialN, 13px, #717375)
            background none
            border none
            float right

            [data-icon]:before
              margin 0 0 0 5px

        .rightSide
          float right
          width 300px

          ul
            list-style none
            padding 0
            margin 0

            li
              border-top 1px solid #ccc
              margin 0 20px 0 0

              &:first-child
                border none

              [data-icon]:before
                vertical-align middle
                font-size 20px

              .rightIcon
                float right

                &:before
                  line-height 45px
                  font-size 20px
                  color #a9a9a9

              a
                fontStyle(arialN, 14px, #717375, 45px)
                text-decoration none
                margin 0 0 0 10px

                &:hover
                  text-decoration underline

              &.phone

                [data-icon]:before
                  line-height 80px

                div
                  float right
                  width 242px
                  margin 15px 0 0 0

                  span
                    fontStyle(arialN, 16px, #717375)
                    float left
                    width 100%

                    &.number
                      font-size 34px

                    &.price
                      font-size 10px
          .close
            border none
            fontStyle(arialN, 13px)
            color #fff
            line-height 35px
            border-radius 5px
            margin 15px 20px 0 0
            background #717375
            float right
            padding 0 10px 0 0

            span
              float left
              height 100%
              margin 0 10px 0 0
              border-right 1px solid #b5b7b8

            [data-icon]:before
              color #fff
              margin 0 10px
              font-size 12px

  &.home 
    #header
      .search
        margin 0



