/*
 *  IMAGES VAR
 */

image-url = '/images/'
ibisButtons = image-url + '/buttons/ibisMenu.png'
accorButtons = image-url + '/buttons/accor.png'
ibisFbLogo = image-url + '/logos/fb_Ibis.png'
footerPromoLogo = image-url + '/logos/footerPromoLogos.png'
bgSite = image-url + '/interface/bg.png'